PORT=5000
NODE_ENV=development

# MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net
# Local MongoDB example:
# MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_URI=
MONGODB_DB=voxa-cms
